body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 3rem;
  color: #fff;
  background-color: #03506f;
  font-family: "Sawarabi Mincho", serif;
}

div {
  padding-bottom: 2rem;
}

.ultra {
  color: #ffeb75;
  font-size: 1.2rem;
  font-weight: bold;
}

#main {
  text-align: center;
}

#timer {
  font-size: 2rem;
}

#play_button {
  font-size: 1.8rem;
  padding: 0.2rem;
  width: 100%;
  max-width: 200px;
  color: #fff;
  background-color: #c00033;
  border-bottom: 5px solid #7c0021;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-family: "Sawarabi Mincho";
}

#play_button:hover {
  margin-top: 3px;
  color: #fff;
  border-bottom: 2px solid #7c0021;
}

.ultra-1 {
  color: #ffeb75;
}
.ultra-2 {
}
